<i (click)="openFilterDialog($event); filterPanel.toggle($event)"
   [ngClass]="isFilterActive ? 'pi-filter-fill' : 'pi-filter'"
   class="pi"></i>
<p-popover #filterPanel
           [style]="{width: '300px'}"
>

  @for (option of options; track $index) {
    <div class="filter-line">
      @if (fieldName() === 'wordCount') {
        <input
          type="checkbox"
          [checked]="selectedOption === option" (change)="this.selectedOption = option"
        />
      } @else {
        <input
          type="checkbox"
          [(ngModel)]="selectedOptions[option]"/>
      }

      <label>{{ option }}</label>
    </div>
  }

  <div class="space-y-2">
    <div class="button-group">
      <p-button (click)="applyFilter(); filterPanel.toggle($event) " label="Apply"
                styleClass="p-button-sm p-button-primary"></p-button>
      <p-button (click)="clearFilter();  " label="Clear"
                styleClass="p-button-sm p-button-secondary"></p-button>
    </div>
  </div>
</p-popover>
