<div class="caption">
  @if (userName() && userName() != 'Demo') {
    <span class="user-name">{{ userName() }}</span>
    <span class="link" (click)="logOut()">Odhlásit</span>
    <span class="link" (click)="openUserDialog($event, LOG_DIALOG_MODE.Edit)">Editovat</span>
    <span class="link" (click)="openUserDialog($event, LOG_DIALOG_MODE.Delete)">Smazat</span>
  } @else {
    <span class="user-name">{{ userName() }}</span>
    <span class="link" (click)="openUserDialog($event, LOG_DIALOG_MODE.LogIn)">Přihlásit</span>
    <span class="link" (click)="openUserDialog($event, LOG_DIALOG_MODE.New)">Registrovat</span>
  }
  <p-popover #logDialogPopOver (onHide)="logDialog.resetForm()">
    <log-dialog #logDialog (dialogOutput)="logDialogOutput($event); logDialogPopOver.toggle($event) "
                [mode]="logDialogMode"
                [userId]="userId()"
    ></log-dialog>
  </p-popover>
</div>

<p-table
  #lessonTable
  [sortField]="'status'"
  [sortOrder]="-1"
  [value]="lessons()"
>

  <ng-template #caption>
    <toggler></toggler>
    <p-button (click)="openDialog('New')">Nová lekce</p-button>
  </ng-template>

  <ng-template pTemplate="colgroup">
    <colgroup>
      <col style="width: 12%;">
      <col style="width: 40%; min-width: 110px">
      <col style="width: 12%;">
      <col style="width: 12%;">
      <col style="width: 12%;">
      <col style="width: 12%;">
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="status">
        Status
        <p-sortIcon field="status"/>
        <filter [clearAllFilters]="clearAllFilters$" [fieldName]="'status'" [lessons]="lessons()"
                [table]="lessonTable"/>
      </th>
      <th pSortableColumn="lessonName">
        Název <br>
        <p-sortIcon field="lessonName"/>
        <filter [clearAllFilters]="clearAllFilters$" [fieldName]="'lessonName'" [lessons]="lessons()"
                [table]="lessonTable"/>
      </th>
      <th class="hide-sm hide-md" pSortableColumn="language">
        Kategorie
        <p-sortIcon field="language"/>
        <filter [clearAllFilters]="clearAllFilters$" [fieldName]="'language'" [lessons]="lessons()"
                [table]="lessonTable"/>
      </th>
      <th class="hide-sm hide-md" pSortableColumn="wordCount">
        Slovíček
        <p-sortIcon field="wordCount"/>
        <filter [clearAllFilters]="clearAllFilters$" [fieldName]="'wordCount'" [lessons]="lessons()"
                [table]="lessonTable"/>
      </th>
      <th class="hide-sm" pSortableColumn="score">
        Score
        <p-sortIcon field="score"/>
        <filter [clearAllFilters]="clearAllFilters$" [fieldName]="'score'" [lessons]="lessons()"
                [table]="lessonTable"/>
      </th>
      <th>
        <i (click)="clearAllFilters(lessonTable)" [pTooltip]="'Vypne filtry'"
           class="pi pi-filter-slash clear-filters icon-hover"
           tooltipPosition="top"></i>
      </th>
    </tr>
  </ng-template>

  <ng-template let-row pTemplate="body">
    <tr [pTooltip]="row.description" tooltipPosition="top">
      @if (row.status == 'vlastní') {
        <td (click)="redirect(row, 'practice')"><i class="pi pi-play small-icon icon-hover"></i></td>
      } @else {
        <td (click)="copyLesson(row.id)" class="not-own"><i class="pi pi-copy  small-icon icon-hover"></i></td>
      }
      <td (click)="redirect(row, 'lesson')">{{ row.lessonName }}</td>
      <td (click)="redirect(row, 'lesson')" class="hide-sm hide-md">{{ row.language }}</td>
      <td (click)="redirect(row, 'lesson')" class="hide-sm hide-md">{{ row.wordCount }}</td>
      <td class="hide-sm">{{ row.status === 'vlastní' ? row.score : null }}</td>
      <td>
        @if (row.status === 'vlastní') {
          <actions-popover (actionSelected)="lessonActionSelected($event, row)"></actions-popover>
        }
      </td>
    </tr>
  </ng-template>
</p-table>
<action-dialog #actionDialog (dataToSave)="saveLessonChanges($event)"></action-dialog>
<confirm-action-dialog #confirmDialog></confirm-action-dialog>
<p-toast/>
