<p-dialog (onHide)="close()" [(visible)]="visible" [header]="action() === 'New' ? 'Nový výraz' : 'Uprav'"
          [modal]="true" [style]="{ width: '25rem' }">
  @if (item() === 'Word') {
    <div class="flex items-center gap-4 mb-4">
      <label class="font-semibold w-24" for="question">Výraz</label>
      <input [(ngModel)]="question" autocomplete="off" class="flex-auto" id="question" pInputText/>
    </div>
    <div class="flex items-center gap-4 mb-8">
      <label class="font-semibold w-24" for="answer">Překlad</label>
      <input [(ngModel)]="answer" autocomplete="off" class="flex-auto" id="answer" pInputText/>
    </div>
  } @else if (item() === 'Lesson') {
    <div class="flex items-center gap-4 mb-8">
      <label class="font-semibold w-24" for="name">Název</label>
      <input [(ngModel)]="name" autocomplete="off" class="flex-auto" id="name" pInputText/>
    </div>
  }

  <div class="flex justify-end gap-2">
    <p-button (click)="visible.set(false)" label="Storno" severity="secondary"/>
    <p-button (click)="save.set(true); visible.set(false)" label="Uložit"/>
  </div>
</p-dialog>
