<p-dialog (onHide)="close()" [(visible)]="visible" [header]="action() === 'New' ? 'Nový výraz' : 'Uprav'"
          [modal]="true" [style]="{ width: '25rem' }">
  @if (item() === 'Word') {
    <div class="dialog-row">
      <label for="question">Výraz</label>
      <input [(ngModel)]="question" autocomplete="off" class="flex-auto" id="question" pInputText/>
    </div>
    <div class="dialog-row">
      <label for="answer">Překlad</label>
      <input [(ngModel)]="answer" autocomplete="off" class="flex-auto" id="answer" pInputText/>
    </div>
  } @else if (item() === 'Lesson') {
    <div class="dialog-row">
      <label for="lessonName">Název</label>
      <input [(ngModel)]="lessonName" autocomplete="off" class="flex-auto" id="lessonName" pInputText/>
    </div>
    <div class="dialog-row">
      <label class="" for="description">Popis</label>
      <input [(ngModel)]="description" autocomplete="off" class="flex-auto" id="description" pInputText/>
    </div>
    <div class="dialog-row">
      <label for="shared">Sdílení</label>
      <p-dropdown
        id="shared"
        [options]="SHARED_OPTIONS"
        [(ngModel)]="shared"
        optionLabel="label"
        class="flex-auto">
      </p-dropdown>
    </div>
    <div class="dialog-row">
      <label for="category">Kategorie</label>
      <input [(ngModel)]="category" autocomplete="off" class="flex-auto" id="category" pInputText/>
    </div>
  }

  <div class="buttons">
    <p-button (click)="visible.set(false)" label="Storno" severity="secondary"/>
    <p-button (click)="save.set(true); visible.set(false)" label="Uložit"/>
  </div>
</p-dialog>
