:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-options {
  display: flex;
  flex-direction: column;
}

.filter-line {
  display: flex;
  flex-direction: row;
}

tr:hover {
  td:first-child {
    background-color: aquamarine !important;
    cursor: pointer;
  }

  td:first-child.not-own {
    background-color: #fff47f !important;
    cursor: copy;
  }

  td:not(:first-child) {
    background-color: #7f81ff !important;
    cursor: help;
  }
}

.caption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 1rem;

  span {
    padding-right: 0.5rem;
  }

  .link {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: #0056b3;
    }
  }
}




