h2 {
  padding: 20px;
  width: 380px;
}

.content {
  padding: 20px;
  padding-top: 0;
}

.dialog-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  width: 380px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  padding: 0.75rem 0.25rem 0.25rem;
}
