<h2>{{ mode() }}</h2>
<div class="content">

  <form #form="ngForm">

    <div class="dialog-row">
      <label for="userName">Přihlašovací jméno:</label>
      <input #userNameInput="ngModel" [(ngModel)]="userName" [maxLength]="20" [minlength]="3" [required]="true"
             id="userName"
             name="userName" pInputText
             type="text"/>
    </div>

    <small [class.in-visible]="!(userNameInput.invalid && userNameInput.touched)">
      @if (userNameInput.errors?.['required']) {
        <span>Přihlašovací jméno je nutné.</span>
      } @else if (userNameInput.errors?.['minlength']) {
        <span>Minimálně 3 znaky.</span>
      } @else {
        <span></span>
      }
    </small>

    <div class="dialog-row">
      <label for="password">Heslo:</label>
      <input #passwordInput="ngModel" [(ngModel)]="password" [maxLength]="12" [minlength]="8" [required]="true"
             id="password"
             name="password" pInputText passwordCharValid
             type="password"/>
    </div>
    <small [class.in-visible]="!(passwordInput.invalid && passwordInput.touched)">
      @if (passwordInput.errors?.['required']) {
        <span>Heslo je nutné.</span>
      } @else if (passwordInput.errors?.['minlength']) {
        <span>Minimálně 8 znaků.</span>
      } @else if (passwordInput.errors?.['strongPassword']) {
        <span>Heslo musí obsahovat
        velké písmeno, symbol a
        číslici.</span>
      } @else {
        <span></span>
      }
    </small>

    @if (mode() === LogDialogMode.Edit) {
      <div class="dialog-row">
        <label for="newPassword">Nové heslo:</label>
        <input #newPasswordInput="ngModel" [(ngModel)]="newPassword" [maxLength]="12" [minlength]="8" [required]="true"
               name="newPassword"
               id="newPassword" passwordCharValid pInputText type="password"/>
      </div>
      <small [class.in-visible]="!(newPasswordInput.invalid && newPasswordInput.touched)">
        @if (newPasswordInput.errors?.['required']) {
          <span>Heslo je nutné.</span>
        } @else if (newPasswordInput.errors?.['minlength']) {
          <span>Minimálně 8 znaků.</span>
        } @else if (newPasswordInput.errors?.['strongPassword']) {
          <span>Heslo musí obsahovat
        velké písmeno, symbol a
        číslici.</span>
        } @else {
          <span></span>
        }
      </small>
    }
    @if (mode() !== LogDialogMode.LogIn) {
      <div class="dialog-row">
        <label for="passwordRepeat">Opakujte heslo:</label>
        <input #passwordRepeatInput="ngModel" [(ngModel)]="passwordRepeat" [maxLength]="12" [minlength]="8"
               [required]="true" [repeatPasswordValid]="password || newPassword" name="passwordRepeat" passwordCharValid
               id="passwordRepeat"
               pInputText
               type="password"/>
      </div>
      <small [class.in-visible]="!(passwordRepeatInput.invalid && passwordRepeatInput.touched)">
        @if (passwordRepeatInput.errors?.['required']) {
          <span>Password is required.</span>
        } @else if (passwordRepeatInput.errors?.['minlength']) {
          <span>Minimálně 8 znaků.</span>
        } @else if (passwordRepeatInput.errors?.['strongPassword']) {
          <span>Heslo musí obsahovat
        velké písmeno, symbol a
        číslici.</span>
        } @else {
          <span></span>
        }
      </small>
    }

    <div class="buttons">
      <p-button (onClick)="confirm()" [disabled]="form.invalid">Ok</p-button>
      <p-button (onClick)="cancel()">Storno</p-button>
    </div>
  </form>
</div>

