.p-dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-end;
  padding: 0.75rem 0.25rem 0.25rem;
}

.dialog-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
}

p-dropdown {
  width: 221px;
}

.flag {
  padding: 0 0.75rem;
  cursor: pointer;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

@keyframes highlight {
  0% {
    background-color: #08ff00;
  }
  100% {
    background-color: inherit;
  }
}

.highlight {
  animation: highlight 0.5s ease-out;
}
