<p-dialog (keydown.enter)="form.valid ? confirm() : null" (onHide)="close()" [(visible)]="visible"
          [modal]="true"
          [style]="{ width: '25rem' }">
  <ng-template pTemplate="header">
    <div class="dialog-row">
      <span [textContent]="action() === 'New' ? 'Nový výraz' : 'Uprav'" class="title"></span>
      <language-switcher (emitter)="changeTranslationDirection($event)"
                         [isTranslationFromCz]="isTranslationFromCz()"></language-switcher>
      <button
        (click)="close()"
        class="p-button-rounded p-button-text"
        icon="pi pi-times"
      ></button>
    </div>
  </ng-template>

  <form #form="ngForm">

    @if (item() === 'Word') {
      <div class="dialog-row">
        <label for="question">Výraz</label>
        <input #questionInput="ngModel" [(ngModel)]="question" [ngClass]="isTranslationFromCz() ? 'highlight' : ''"
               autocomplete="off" name="question" class="flex-auto"
               id="question" maxlength="40" required pInputText/>
      </div>
      <small [class.in-visible]="!(questionInput.invalid && questionInput.touched)">
        @if (questionInput.errors?.['required']) {
          <span>Výraz je nutný.</span>
        } @else {
          <span></span>
        }
      </small>
      <div class="dialog-row">
        <label for="answer">Překlad</label>
        <input #answerInput="ngModel" [(ngModel)]="answer" [ngClass]="!isTranslationFromCz() ? 'highlight' : ''"
               autocomplete="off" name="answer" class="flex-auto"
               id="answer" maxlength="40" required pInputText/>
      </div>
      <small [class.in-visible]="!(answerInput.invalid && answerInput.touched)">
        @if (answerInput.errors?.['required']) {
          <span>Překlad je nutný.</span>
        } @else {
          <span></span>
        }
      </small>
      <div class="dialog-row">
        <span>AI překlad</span>
        <div>@for (country of COUNTRIES; track country.fileName) {
          <picture (click)="translate(country.codeDeepL)">
            <img [src]="'assets/' + country.fileName" class="flag" alt="flag">
          </picture>
        }</div>

      </div>
    } @else if (item() === 'Lesson') {
      <div class="dialog-row">
        <label for="lessonName">Název</label>
        <input #lessonNameInput="ngModel" [(ngModel)]="lessonName" autocomplete="off" name="lessonName"
               class="flex-auto"
               id="lessonName" maxlength="30" minlength="3" required pInputText/></div>
      <small [class.in-visible]="!(lessonNameInput.invalid && lessonNameInput.touched)">
        @if (lessonNameInput.errors?.['required']) {
          <span>Název je nutný.</span>
        } @else if (lessonNameInput.errors?.['minlength']) {
          <span>Minimálně 3 znaky.</span>
        } @else {
          <span></span>
        }
      </small>
      <div class="dialog-row">
        <label class="" for="description">Popis</label>
        <input #descriptionInput="ngModel" [(ngModel)]="description" autocomplete="off" name="description"
               class="flex-auto"
               id="description" maxlength="60" minlength="3" required pInputText/></div>
      <small [class.in-visible]="!(descriptionInput.invalid && descriptionInput.touched)">
        @if (descriptionInput.errors?.['required']) {
          <span>Popis je nutný.</span>
        } @else if (descriptionInput.errors?.['minlength']) {
          <span>Minimálně 3 znaky.</span>
        } @else {
          <span></span>
        }
      </small>
      <div class="dialog-row">
        <label for="shared">Sdílení</label>
        <p-dropdown
          [required]="true"
          #sharedDropdown="ngModel"
          name="shared"
          id="shared"
          [options]="SHARED_OPTIONS"
          [(ngModel)]="shared"
          [ngStyle]="sharedDropdown.invalid && sharedDropdown.touched ? { outline: '1px solid #f87171'} : {outline: '1px solid #cbd5e1'}"
          optionLabel="label"
          class="flex-auto">
        </p-dropdown>
      </div>
      <small [class.in-visible]="!(sharedDropdown.invalid && sharedDropdown.touched)">
        @if (sharedDropdown.errors?.['required']) {
          <span>Je nutné vyplnit, zda chcete sdílet lekci s ostatními.</span>
        } @else {
          <span></span>
        }
      </small>
      <div class="dialog-row">
        <label for="category">Kategorie</label>
        <input #categoryInput="ngModel" [(ngModel)]="language" autocomplete="off" name="category"
               class="flex-auto"
               id="category" maxlength="20" minlength="1" required pInputText/></div>
      <small [class.in-visible]="!(categoryInput.invalid && categoryInput.touched)">
        @if (categoryInput.errors?.['required']) {
          <span>Kategorie je nutná.</span>
        } @else {
          <span></span>
        }
      </small>
    }

    <div class="buttons">
      <p-button (click)="confirm()" [disabled]="form.invalid" label="Uložit"/>
      <p-button (click)="visible.set(false)" label="Storno"/>
    </div>
  </form>
</p-dialog>
